<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="List of Users">
        <title>Users index page</title>
    </head>
    <body>
    <h1>Users</h1>
    <table>
      <thead>
        <tr>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Age</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% if @users.any? %>
          <% @users.each do |user| %>
            <tr>
              <td><%= user["firstname"] %></td>
              <td><%= user["lastname"] %></td>
              <td><%= user["age"] %></td>
              <td><%= user["email"] %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="4">No record found</td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </body>
</html>