<!DOCTYPE html>
<html>
<head>
  <title>User Records</title>
</head>
<body>
<h1>User Records</h1>

<table>
  <tr>
    <th>First</th>
    <th>Last</th>
    <th>Years</th>
    <th>Contact</th>
  </tr>
  
    <tr>
      <td><%= u[:firstname] %></td>
      <td><%= u[:lastname] %></td>
      <td><%= u[:age] %></td>
      <td><%= u[:email] %></td>
    </tr>
  
</table>

</body>
</html>
